# Archivos de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

# Artefactos de construcción
build/
dist/
tmp/
*.tgz
.DS_Store

# Variables de entorno
.env
.env.local

# Archivos subidos (no forman parte del repositorio)
uploads/

# Archivos específicos del IDE
.vscode/

# Registros (Logs)
*.log