# Configuración del Puerto del Servidor
PORT=3000

# Ruta de almacenamiento personalizado (ejemplo para discos externos/USB)
# Si se deja vacío o comentado, guardará por defecto en la carpeta server/data y server/uploads
# STORAGE_PATH=/media/usuario/DiscoExterno/localdrop_data

# Credenciales de Administrador (Opcional, fallback por defecto)
ADMIN_USER=admin
ADMIN_PASS=admin
